@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+SA&display=swap");
@import "tailwindcss";

/* @theme {
  --color-primary: #9d8d8f;
  --color-second: #5a5560;
  --color-third: #46344e;
  --color-highlight: #faed26;
  --color-highlightsecond: #ffc342;
  --color-special: #9b786f;

  --font-main: "Outfit", sans-serif;
  --font-second: "Playwrite+AU+SA", sans-serif;
} */

@theme {
  --color-primary: #0b0c10;
  --color-second: #ffff96;
  --color-third: #c5c6c7;
  --color-highlight: #66fcf1;
  --color-highlightsecond: #45a29e;
  --color-special: #1a2833;

  --font-main: "Outfit", sans-serif;
  --font-second: "Playwrite+AU+SA", sans-serif;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

/* #90a3ff; */
